* {
    box-sizing: border-box;
  }
td 
{
  text-align: center;  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;  
  padding-right: 10px;  
}
th 
{
  text-align: center;    
}

.line
{
    border: 3px solid black;    
}
.center
{
    text-align: center;    
    margin-left: auto;
    margin-right: auto;
}
html
{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }
p{
    padding:2px;
}
.line > button
{
    float: right;   
    color: black;    
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-decoration: none;     
    display: block;
    border-color: black;
    font-size: 16px; 
}

.line > .chicken
{
    background-color: #d8909f;
    padding-left: 5%;
    padding-right: 5%;
}
.line > .beef
{
    background-color: #ff3737;
    color: white;
    padding-left: 6%;
    padding-right: 6%;
}
.line > .sushi
{
    background-color:#d4c370;
    padding-left: 5%;
    padding-right: 5%;
}



.col-xs-12 {  grid-column: span 12;}
.col-xs-11 {  grid-column: span 11;}
.col-xs-10 {  grid-column: span 10;}
.col-xs-9 {   grid-column: span 9;}
.col-xs-8 {   grid-column: span 8;}
.col-xs-7 {   grid-column: span 7;}
.col-xs-6 {   grid-column: span 6;}
.col-xs-5 {   grid-column: span 5;}
.col-xs-4 {   grid-column: span 4;}
.col-xs-3 {   grid-column: span 3;}
.col-xs-2 {   grid-column: span 2;}
.col-xs-1 {   grid-column: span 1;}  
.col {        grid-column: span 4;}
.col-12 {     grid-column: span 4;}
/* table Mode */
@media only screen and (min-width: 768px) and (max-width: 991px)  
{
    .col {     grid-column: span 6;}
    .col-12 {  grid-column: span 12;}
}
@media only screen and (max-width:767px) {
    .col {     grid-column: span 12;}
    .col-12 {  grid-column: span 12;}
}
/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */
/* .chicken
{
    float: right;
    background-color: #d8909f;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-decoration: none;     
    display: block;
    border-color: black;
    font-size: 16px; 
} 
.col-md-4
{
    width:31.333%;
}
.col-lg-6
{
    width:50%;
}
.container
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;    
}*/

/* @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
   */
  /* @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  } */
  
  /* @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  } */
  
/* 2 columns (600px) */

/* @media only screen and (min-width:600px) {
    .container .col {
      float: left;
      width: 50%;
    }
  } */
  
  
  /* 3 columns (768px) */
  
  /* @media only screen and (min-width:768px) {
    .container .col {
      width: 33.333%;
    }
  } */
  
  
  /* 4 columns (992px) */
  
  /* @media only screen and (min-width:992px) {
    .container .col {
      width: 33.333%;
    }
  } */